
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Button and link styling */
a, input[type="submit"] {
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

a:hover, input[type="submit"]:hover {
    background-color: #45a049;
}

a[href="/album/add"] {
    margin-bottom: 10px;
    display: block; /* Makes it block level for full width */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2, h3 {
    color: #333;
    text-align: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

form {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button,
input[type="submit"] {
    background: #5cb85c;
    color: #fff;
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background: #4cae4c;
}

input[type="submit"][value="Sign Out"] {
    background-color: #f44336;
    float: right; /* Align the sign out button to the right */
    margin: 10px;
}

/* Clear float */
div:after {
    content: "";
    display: table;
    clear: both;
}

/* Adjust padding around the container */
div {
    padding: 20px;
}
