<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
    <h1>Edit Album</h1>
</head>
<body>
    <form th:object="${album}" th:action="@{/album/update/{id}(id=${album.id})}" method="post">
        Album Name: <input type="text" th:field="*{albumname}" /><br>
        Artist: <input type="text" th:field="*{artist}" /><br>
        Genre: <input type="text" th:field="*{genre}" /><br>
        Price: <input type="text" th:field="*{coverimage}" /><br>
        Release Year: <input type="text" th:field="*{releaseyear}" /><br>
        <input type="submit" value="Update Album" />
    </form>
</body>
</html>
